@import "../../../styles/variables.scss";

$button-color: $light-green;

.outer-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: $vertical-rhythm * 6;
  padding-bottom: $vertical-rhythm * 6;

  // justify-content: space-between;
  // &:after {
  //   content: "";
  //   min-height: inherit;
  //   font-size: 0;
  // }
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  // background-image: url("../../../images/borealis.png");
  // opacity: 0.5;
  background-color: $dark-green;
  // background: linear-gradient(
  //   120deg,
  //   rgba(2, 89, 24, 1) 0%,
  //   rgb(9, 89, 29) 100%
  // );
  // background: radial-gradient(
  //   circle,
  //   rgba(2, 89, 24, 1) 0%,
  //   rgb(8, 89, 28) 100% 100%
  // );
  // @supports (
  //   (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
  // ) {
  //   background-color: rgba(255, 255, 255, 0.05);
  //   backdrop-filter: blur(1px);
  //   -webkit-backdrop-filter: blur(1px);
  // }
}

// .background-svg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   background-size: cover;
//   background-position: center;
//   background-image: url("../../../images/attractor.svg");
//   transform: rotate(180deg);
//   opacity: 0.2;
//   z-index: 1;
// }

.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // opacity: 0.8;
  -webkit-media-controls {
    display: none;
  }
  media-controls {
    display: none;
  }
}

.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  // mix-blend-mode: overlay;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.overLays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  z-index: 3;
  background: linear-gradient(
    120deg,
    rgba(2, 89, 24, 0) 0%,
    rgba(255, 255, 255, 0.082) 100%
  );
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/noisy2.png");
  opacity: 0.04;
  z-index: 4;
}

.inner-wrapper {
  // padding-left: $vertical-rhythm * 4;
  // background-image: url("../../../images/1545252098.svg");

  // background-size: cover;
  // background-position: center;
  display: flex;
  // justify-content: center;
  // align-content: center;
  align-items: center;
}

.row {
}

.text {
  position: relative;
  z-index: 6;
  hr {
    border-top: 2px solid rgb(230, 230, 230);
    width: 50px;
    margin-left: 0;
    // length: 40px;
  }
}

.title {
  font-size: 3.8rem;
  margin-bottom: 0;
  font-weight: bolder;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 100%;
  // color: $blue;
}

.subTitle {
  font-size: 2.5rem;
  // margin-bottom: 0;
  color: rgb(242, 242, 242);
  line-height: normal;
  // color: $ocean;
  // line-height: 1;
  // text-align: center;
}

.svg {
  position: absolute;
  z-index: 5;
  // width: 150%;
  // margin-left: -25%;
  width: 80%;
  margin-left: 30%;
  @media screen and (max-width: 991px) {
    margin-left: 0;
  }
  svg {
    // position: absolute;
    stroke: rgba(240, 240, 240, 0.25);
    width: 100%;
    transform: rotate(180deg);
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-column {
  // margin-left: -75%;
  // margin-top: -25%;
}

// .logo {
//   width: 700px;
//   img {
//     position: absolute;
//     object-fit: contain !important;
//   }
// }

.button {
  position: relative;
  z-index: 4;
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 2px solid $button-color;
  // margin: 0 auto;
  border-radius: 5px;
  // border-radius: 400px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $header-font;
  // font-weight: bold;
  color: $button-color;
  background-color: transparent;
  text-align: center;
  transition: all 0.4s ease-in;
  // color: white;
  // background-color: $button-color;
  &:hover {
    // opacity: 0.95;
    background-color: $button-color;
    // border-color: rgb(32, 32, 32);

    // box-shadow: inset 0px 0px 150px $button-color;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  &:focus {
    outline: none !important;
  }
  z-index: 10;
  // font-family: $body-font;
  // text-transform: uppercase;
  // @media screen and (max-width: 575px) {
  //   width: 100%;
  // }
}

.arrowContainer {
  position: absolute;
  width: 100%;
  margin: $vertical-rhythm * 3 0;
}

.arrow {
  z-index: 5;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  a {
    margin: auto;
  }
  svg {
    display: block;

    // margin-left: 50%;
    // transform: translateX(-50%);
    // position: absolute;

    // margin: auto;
    width: 40px;
    fill: rgba(255, 255, 255, 0.6);
    &:hover {
      fill: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
  }
}

.down {
  bottom: 0;
}

/* Responsive styles */
@media (max-width: 1199px) {
  .title {
  }
  .logo {
    width: 600px;
  }
}
@media (max-width: 991px) {
  .title {
  }
  .logo {
    width: 550px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 2rem;
  }
  .logo {
    width: 500px;
  }
  // .backgroundVideo {
  //   -webkit-transform: rotate(90deg);
  //   -moz-transform: rotate(90deg);
  //   -o-transform: rotate(90deg);
  //   -ms-transform: rotate(90deg);
  //   transform: rotate(90deg);
  // }
}
@media screen and (max-width: 575px) {
  .logo {
    width: 400px;
  }
  .title {
    font-size: 1.5rem;
  }
  .button {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 460px) {
  .logo {
    width: 100%;
  }
  .title {
    font-size: 1.3rem;
  }
}
