@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.outer-wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: $vertical-rhythm * 7;
  padding-bottom: $vertical-rhythm * 7;
  background: url("../../../images/noisy-white.png");
  display: flex;
  align-content: center;
  // background-color: $dark-green-w;
  // background-size: cover;
  // @include angle(before, true);
  // @include angle(both);
}

.inner-wrapper {
  // border-top: 0.1px solid rgba(250, 250, 250, 0.4);
  // padding-top: $vertical-rhythm * 2;
  // padding-bottom: $vertical-rhythm * 2;
  // text-align: center;
}

.text {
  // margin-bottom: $vertical-rhythm;
  p {
    // text-indent: 30px;
    margin-bottom: 0;
    // color: white;
  }
}

.heading {
  color: $header-color;
  // border-bottom: 0.1px solid rgba(250, 250, 250, 0.4);
  // padding-bottom: $vertical-rhythm;
  letter-spacing: -1px;
  // background-color: black;
  // background-color: $dark-green;
  color: white;
  // text-transform: uppercase;
  span {
    background-color: $dark-green;
    // background-color: $blue;
    padding: 0 $vertical-rhythm/2;
  }
}

.arrowContainer {
  position: absolute;
  width: 100%;
  margin: $vertical-rhythm * 3 0;
}

.arrow {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  transition: all 0.4s ease-in;
  a {
    margin: auto;
  }
  svg {
    display: block;
    width: 40px;
    fill: rgba(255, 255, 255, 0.6);
    fill: rgba(51, 51, 51, 0.8);

    &:hover {
      fill: rgba(255, 255, 255, 0.9);
      fill: rgba(51, 51, 51, 1);
      cursor: pointer;
    }
  }
}

.up {
  top: 0;
}

.down {
  bottom: 0;
}

.linebreakExtraLarge {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.linebreakLarge {
  @media screen and (min-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.linebreakMedium {
  @media screen and (min-width: 992px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.linebreakSmall {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.linebreakPhone {
  @media screen and (min-width: 576px) {
    display: none;
  }
}
